*{
  font-family: Arial;
  box-sizing: border-box;
}
body{
  background-color: #d81b60;
  margin: 0px; 
  padding: 200px;
    
  
}
.container{
  max-width: 550px;
  border:2px solid #263238;
  background: #263238;
  border-radius: 25px;
  display:flex;
  margin: 17uv 0, auto, auto;
  padding:50px;
    
 }
p{
  color: #d81b60;
  font-weight:bold;
  font-size:25px;
}
#us{
   text-decoration: underline;     
    text-decoration-color: #d81b60;
      
}
.form1{
    width:50%;
    color: #263238;
    
}
.form2{
  border-bottom: 2px solid #263238;
  width:50%;
 
}
label{
  display:block;
  margin: 20px;
  }
input,textarea
{
  width:100%;
  padding:5px;
  box-sizing: border-box;
  border: none;
  border-bottom:1px solid #4f5b62;
  background-color:  #263238;
  color:#4f5b62;
  
}
#cancel-btn, #send-btn {
  background-color: #263238; 
  border: none;
  color: #d81b60;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
